* {
  margin: 0;
  padding: 0;
}
/* Header Styles Start From Here */
#header-container {
  width: 100%;
  background-color: #ee7b9425;
}
#header-section {
  display: flex;
  width: 75%;
  margin: auto;
  gap: 3rem;
  padding-top: 1.5rem;
}
#header-title {
  font-size: 4rem;
  opacity: 100%;
  color: #272727;
  margin-bottom: 1.5rem;
}
#header-description {
  color: #272727;
  opacity: 60%;
  margin-bottom: 1.5rem;
}
.btn {
  background-color: #e55473;
  color: white;
  border: none;
  border-radius: 10%;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
}

#cover-image {
  width: 90%;
}

/* Header Styles End Here */

/* Featured Section Styles Start Here */
#featured-heading {
  text-align: center;
  margin-top: 6rem;
}
#featured-title {
  color: #272727;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#featured-description {
  color: #272727;
  opacity: 60%;
  font-size: 1rem;
}
#featured-image1-container {
  background-color: #ee758f54;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
#featured-image2-container {
  background-color: #ee758f54;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
#featured-image3-container {
  background-color: #ee758f54;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
.featured-img {
  padding: 2rem;
  width: 75%;
  height: 50vh;
}
#featured-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 75%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  gap: 1rem;
}
.featured-img-text {
  color: #272727;
  font-size: large;
  margin-top: 1rem;
  text-decoration: underline;
}
/* Featured Section Styles End Here */

/* Service Section Styles Start From Here */
#service-container {
  background-color: #bd0d0d10;
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 5px;
}
/* Service Section Styles End Here */

/* Hot Deal Styles Start From Here */
#hot-deal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#hot-deal-title {
  font-size: 2rem;
}
#hot-deal-description {
  color: #272727;
  opacity: 60%;
  margin: 1rem 0;
}

/* Hot Deal Styles End Here */
/* Valentine Special Styles Start From Here */
/* Valentine Special Styles End Here */
#valentine-container {
  display: grid;
  grid-template-columns: 17rem 20rem 17rem;
  justify-content: space-evenly;
  width: 75%;
  gap: 1rem;
  margin: auto;
  margin-bottom: 3rem;
}
.img {
  width: 15rem;
  height: 15rem;
}
.img:hover {
  width: 17rem;
  border-radius: 50%;
  transition: all;
}
#valentine-title-container {
  text-align: center;
  margin: 3rem 0;
}
#valentine-title {
  color: #272727;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#valentine-description {
  color: #272727;
  opacity: 60%;
}

/* Instagram Styles Start From Here */
#instagram-title-container {
  text-align: center;
}
#instagram-title {
  font-size: 2rem;
  color: #272727;
}
#instagram-description {
  color: #272727;
  opacity: 60%;
  margin: 1rem 0;
}
#insta-img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  margin: auto;
}
.insta-img {
  width: 15rem;
  margin-bottom: 3rem;
}

/* Instagram Styles ENd Here */

/* Latest Deal Styles From Here */
#latest-deal-container {
  background-image: url("/assert/images/Rectangle\ 9.png");
  width: 75%;
  margin: auto;
  text-align: center;
  margin-bottom: 3rem;
}
#lates-deal-title {
  font-size: 2rem;
  color: #272727;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
#latest-deal-coupon {
  color: #272727;
  opacity: 60%;
}

#subscribe-input {
  height: 1.5rem;
  margin-bottom: 4rem;
  margin-top: 1rem;
  padding-left: 1rem;
  border: none;
}
/* Latest Deal Styles End Here */

/* Footer Section Styles Start From Here */
#footer-container {
  background-color: #111010;
  width: 100%;
  text-align: center;
  padding: 4rem 0;
}

#footer-title {
  color: #ffffff;
  font-size: 3rem;
}
#flower {
  color: #e55473;
}
#footer-description {
  color: #ffffff;
  opacity: 90%;
  padding: 1rem 0;
}
#copy-right-text {
  color: #ffffff;
  opacity: 40%;
}
/* Footer Section Styles End Here */
